#main {
    top: 200px;
    max-width: 700px;
    min-width: 550px;
    margin: 0 auto;
    position: static;
    display: table;
}

.usershape {
    float: left;
}

.user {
    margin: 0px 10px 10px !important;
    width: 60px;
    height: 90px;
    padding: 0;
    color: black;
    text-align: center;
}

.user.red {
    background-color: #d95c5c !important;
}

.holder {
    margin: 0 auto;
    position: relative;
    width: 246px;
}

.ribbon {
    top: -6px;
}

#container {
    min-height: 100px;
}

.item.disabled {
    pointer-events: none;
    cursor: default;
}

h3.header {
    line-height: 50px !important;
}

.button .icon.thumbs {
    margin: 0 !important;
}

.welcome .input {
    margin-top: 20px;
}

.welcome .icon {
    cursor: pointer !important;
}

i.reply {
    margin-left: 20px !important;
    color: #c8c8c8;
    cursor: pointer !important;
}

i.reply:hover{
    color: #00b5ad;
}

#loading {
    position: absolute;
    left: 0;
    top: -100px;
    bottom: -100px;
    right: 0;
    background: #000;
    opacity: 0.8;
    z-index: 9999;
    filter: alpha(opacity=80);
}

.corner {
    opacity: 0.8;
    filter: alpha(opacity=80);
    top: -2px !important;
}

.ui.toggle.checkbox input[type=radio]:not(:checked)~label:before {
    background-color: #d95c5c !important;
}

.ui.toggle.checkbox input[type=radio]:checked~label:before {
    background-color: #00b5ad !important;
}

.toggle.checkbox {
    float: right;
}

.hidden {
    display: none;
}

h3.ui.header>.icon {
    display: inline !important;
    margin: 0 !important;
}
